.card-wrap
  .card-item
    .card-top
      .card-img
        img(src="../../../img/chair.png")
      .card-name
        span Стул
      .card-info
        .card-info-desc
          .card-info-price
            +price('5660')
        .card-info-icon
          +icon('cart')
    .card-bottom
      .card-info-count
        span В наличии: 1 шт
      .card-sizes-wrap
        .card-size
          .card-size-name
            span Ширина
          .card-size-value
            span 50 см
        .card-size-x
          span x
        .card-size
          .card-size-name
            span Длина
          .card-size-value
            span 47 см
        .card-size-x
          span x
        .card-size
          .card-size-name
            span Высота
          .card-size-value
            span 110 см
      a(href="#")
        .card-button
          span Подробнее
