include ../chunk/icons/icons.pug
include ../chunk/price/price.pug
include ../chunk/card-swiper/card-swiper.pug
include ../chunk/link-tabs/link-tabs.pug
include ../chunk/components/breadcrumbs.pug
include ../chunk/components/SKUColor.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no")
    title Виктория Мебель
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
    link(rel="stylesheet", href="libs/hystmodal.min.css")
    link(rel="stylesheet", href="css/main.css")
    block styles
    script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
    script(src='libs/hystmodal.min.js')
  body
    block page
    script(src="js/common.js")
